# Data Types and Structures Questions

1. What are data structures, and why are they important?

--> Data structures are organized formats for storing and managing data, such as lists, tuples, dictionaries, and sets in Python. They are important because they allow efficient data manipulation, retrieval, and storage, which improves performance and simplifies problem-solving.

2. Explain the difference between mutable and immutable data types with examples.

--> Mutable data types can be changed after creation, such as lists and dictionaries. For example, a list can have elements added or removed. Immutable data types cannot be changed once created, such as tuples and strings. For instance, modifying a string creates a new object instead of changing the original one.

3. What are the main differences between lists and tuples in Python?

--> Lists are mutable, meaning their elements can be changed, added, or removed. Tuples are immutable, so once created, their contents cannot be altered. Lists generally require more memory and are slower than tuples for iteration, but they are more flexible.

4. Describe how dictionaries store data.

--> Dictionaries store data as key-value pairs. Each key is unique and acts as an identifier for its value. Internally, dictionaries use hash tables to provide efficient lookups, insertions, and deletions.

5. Why might you use a set instead of a list in Python?

--> Sets are used when you need to store unique elements without duplicates and perform operations like union, intersection, or difference efficiently. Lists allow duplicates but are slower for membership checks compared to sets.

6. What is a string in Python, and how is it different from a list?

--> A string is a sequence of characters enclosed in quotes, while a list is a sequence of elements (which can be of any type) enclosed in square brackets. Unlike lists, strings are immutable, and their elements cannot be directly modified.

7. How do tuples ensure data integrity in Python?

--> Tuples are immutable, meaning their contents cannot be changed after creation. This immutability ensures data integrity because values remain constant throughout the program, making tuples suitable for fixed data collections.

8. What is a hash table, and how does it relate to dictionaries in Python?

--> A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables, which allow for average-case O(1) time complexity for insertions, deletions, and lookups.

9. Can lists contain different data types in Python?

--> Yes, lists in Python can store elements of different data types, such as integers, strings, floats, and even other lists, making them very flexible.

10. Explain why strings are immutable in Python.

--> Strings are immutable to improve performance and security. Since they cannot be changed in place, they are safe to use as keys in dictionaries and ensure consistent behavior when shared across different parts of a program.

11. What advantages do dictionaries offer over lists for certain tasks?

--> Dictionaries provide faster lookups for data when using keys, as they have an average time complexity of O(1). Unlike lists, which require searching through indices, dictionaries allow direct access to values using unique keys.

12. Describe a scenario where using a tuple would be preferable over a list.

--> Tuples are preferable when storing fixed data that should not change, such as geographic coordinates (latitude, longitude) or configuration settings. They also allow usage as dictionary keys due to immutability.

13. How do sets handle duplicate values in Python?

--> Sets automatically eliminate duplicate values. If duplicate elements are added to a set, only one instance is stored, ensuring all elements remain unique.

14. How does the 'in' keyword work differently for lists and dictionaries?

--> For lists, the 'in' keyword checks if a value exists among the elements. For dictionaries, it checks if a key exists, not a value.

15. Can you modify the elements of a tuple? Explain why or why not.

--> No, tuples are immutable, meaning their elements cannot be modified after creation. This design ensures data integrity and allows tuples to be used as dictionary keys.

16. What is a nested dictionary, and give an example of its use case.

--> A nested dictionary is a dictionary where values can also be dictionaries. They are useful for representing hierarchical data, such as student records:
example = {'student1': {'name': 'Alex', 'age': 21}, 'student2': {'name': 'Mia', 'age': 22}}.

17. Describe the time complexity of accessing elements in a dictionary.

--> Accessing elements in a dictionary has an average-case time complexity of O(1), thanks to its hash table implementation. In rare cases of hash collisions, it may degrade to O(n).

18. In what situations are lists preferred over dictionaries?

--> Lists are preferred when order matters, when storing collections of items without unique keys, or when sequential processing is required. They are also better for simple, ordered data storage.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

--> Dictionaries are considered unordered because their elements are stored based on hash values of keys, not insertion order (before Python 3.7). This means you cannot rely on the order of keys when retrieving data. From Python 3.7 onwards, insertion order is preserved, but conceptually they are still unordered.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

--> Lists retrieve data using indices (numeric positions), while dictionaries retrieve data using unique keys. This makes lists more suitable for ordered collections and dictionaries better for key-value associations.

# Practical Questions

In [1]:
# Write a code to create a string with your name and print it

n = "Sourav"
print(n)

Sourav

In [2]:
#  Write a code to find the length of the string "Hello World"

a = len("Hello World")
print(a)

11

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming"

b = "Python Programming"
print(b[0:3])

Pyt

In [5]:
# Write a code to convert the string "hello" to uppercase

t = "hello"
up_t = t.upper()
print(up_t)

HELLO

In [7]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"

a = "I like apple"
b= a.replace("apple", "orange")
print(b)

I like orange

In [8]:
# Write a code to create a list with numbers 1 to 5 and print it

l = list(range(1,6))
print(l)

[1, 2, 3, 4, 5]

In [15]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]

l= [1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [16]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

l = [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [17]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']

l = ["a", "b", "c", "d"]

print(l[1])

b

In [18]:
# Write a code to reverse the list [10, 20, 30, 40, 50]

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [20]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [21]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

t = ('red', 'green', 'blue', 'yellow')
b = t[-2]
print(b)

blue

In [22]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

t = (10, 20, 5, 15)
mini = min(t)
print(mini)

5

In [23]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t = ('dog', 'cat', 'rabbit')
b = t.index("cat")
print(b)

1

In [24]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

f = ("apple", "banana", "orange")
if "kiwi" in f:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [32]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = set(['a', 'b', 'c'])
l= sorted(s)
print(l)

['a', 'b', 'c']

In [33]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s= {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [34]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s= {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [35]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

s1 = {1, 2, 3}
s2 = {3, 4, 5}
union = s1.union(s2)
print(union)

{1, 2, 3, 4, 5}

In [36]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s = {1, 2, 3}
s2 = {2, 3, 4}
intersect = s.intersection(s2)
print(intersect)

{2, 3}

In [38]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it

d = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print(d)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [42]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

d = {
    'name': 'John',
    'age': 25
    }

d['country'] = 'USA'

print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [43]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

d = {
    'name': 'Alice',
    'age': 30
    }

print(d['name'])

Alice

In [44]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d = {
    'name': 'Bob',
    'age': 22,
    'city': 'New York'
    }

del d['age']

print(d)

{'name': 'Bob', 'city': 'New York'}

In [45]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

d = {
    'name': 'Alice',
    'city': 'Paris'
    }

if 'city' in d:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary")

The key 'city' exists in the dictionary.

In [53]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.

s = [1, 2, 3, 4, 5]
t = (10, 20, 30, 40, 50)
d = {'name': 'Alice', 'age': 25}

print("Set = ",s,"\nTuple = ", t,"\nDictionary = ", d)

Set =  [1, 2, 3, 4, 5]
Tuple =  (10, 20, 30, 40, 50)
Dictionary =  {'name': 'Alice', 'age': 25}

In [58]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

random_numbers = sorted([random.randint(1, 100) for _ in range(5)])

print(random_numbers)

[21, 34, 36, 49, 95]

In [59]:
# Write a code to create a list with strings and print the element at the third index

l = ["apple", "banana", "cherry", "date", "elderberry"]

print(l[3])

date

In [60]:
# Write a code to combine two dictionaries into one and print the result.

d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}

dic = {**d1, **d2}

print(dic)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [64]:
# Write a code to convert a list of strings into a set.

l = ["apple", "banana", "cherry", "date", "elderberry"]

s = set(l)

print(s)

print(type(s))

{'elderberry', 'cherry', 'banana', 'apple', 'date'}
<class 'set'>